/*мобильная кнопка sandwich*/
.sandwich {
  display: block;
  position: absolute;
  top:17px;
  right: 0;
  width: 45px;
  height: 41px;
  z-index: 2;
  border-radius: 1px;

  @include  sm-block {

  }
  @include  md-block {
    display: none;
  }
}

.sandwich__inner { 
  display: block;
  width: 45px;
  height: 7px;
  margin-top: 17px;
  background: $accent;
  border-radius: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  
  &::before, &::after { 
    display: block; 
    position: absolute; 
    content: "";
    z-index: -1;
    width: 45px;
    height: 7px;
    background: $accent;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
  }
  &::before {
    top: 34px;
  }
  &::after {
    top: 0;
  }
}

/* состояние при клике */
.sandwich--open {
  .sandwich__inner {
    background: none;

    &::before, &::after {
      top: 12px; 
    }
    &::before {
      -webkit-transform: rotate(-45deg); 
      -ms-transform: rotate(-45deg); 
      transform: rotate(-45deg);
    }
    &::after {
      -webkit-transform: rotate(45deg); 
      -ms-transform: rotate(45deg); 
      transform: rotate(45deg);
    }
  } 
}